body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

.navi_img {
    width: 20px;
    height: 20px;
}

.left_align {
    text-align: left;
}

ol.ol_parent {
    margin: 20px 0px;
}